<h1 style="color:blue" align="center"> Period </h1>

In [55]:
import pandas as pd

In [56]:
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

A-DEC는 annual, decemger까지

In [57]:
m=pd.Period('2016-12',freq='M')
m

Period('2016-12', 'M')

In [58]:
m+1

Period('2017-01', 'M')

In [59]:
d=pd.Period('2017-02-28')
d

Period('2017-02-28', 'D')

In [60]:
d+1

Period('2017-03-01', 'D')

In [61]:
h=pd.Period('2016-02-28 23:00:00', freq='H')
h

Period('2016-02-28 23:00', 'H')

freq를 이용해 period object의 기본단위를 바꿀수 있다

In [62]:
h+4

Period('2016-02-29 03:00', 'H')

as.freq이용해서도 convert frequenct가능

In [63]:
q=pd.Period('2017Q1',freq='Q-JAN')

In [64]:
type(q)

pandas._libs.tslibs.period.Period

In [65]:
q+1

Period('2017Q2', 'Q-JAN')

In [66]:
q.asfreq('D', how='start')

Period('2016-02-01', 'D')

In [67]:
q+1

Period('2017Q2', 'Q-JAN')

In [68]:
q_day=q.asfreq('D', how="end")

In [69]:
q_day+1

Period('2016-05-01', 'D')

In [70]:
q+1

Period('2017Q2', 'Q-JAN')

inplace=True와 같은 옵션이 필요할거 같은데, 못 찾음

Period Index

이건 date_range(->datetimeIndex)와 다른 period_range(->periodtiemIndex)
서로 유사

datetimeindex는 idx[0]은 timestamp타입, periodindex의 idx[0]는 period타입!

In [93]:
idx=pd.period_range('2011','2017')
idx

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10',
             ...
             '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
             '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
             '2016-12-31', '2017-01-01'],
            dtype='period[D]', length=2193, freq='D')

In [97]:
type(idx[0])

pandas._libs.tslibs.period.Period

In [102]:
idx_date=pd.date_range('2011','2017')
idx

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10',
             ...
             '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
             '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
             '2016-12-31', '2017-01-01'],
            dtype='period[D]', length=2193, freq='D')

In [103]:
type(idx_date)

pandas.core.indexes.datetimes.DatetimeIndex

In [104]:
type(idx_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [105]:
idx_date[0]

Timestamp('2011-01-01 00:00:00', freq='D')

In [106]:
idx[0]

Period('2011-01-01', 'D')

In [94]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [73]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

Period를 period index로 만들어서 dataframe만듦

In [124]:
import numpy as np
ps=pd.Series(np.random.randn(len(idx)),idx)

In [125]:
type(ps)

pandas.core.series.Series

In [126]:
ps.index

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10',
             ...
             '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
             '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
             '2016-12-31', '2017-01-01'],
            dtype='period[D]', length=2193, freq='D')

In [127]:
ps['2011':'2013']

2011-01-01    1.519026
2011-01-02    1.554436
2011-01-03    0.471589
2011-01-04   -0.060097
2011-01-05   -1.580835
2011-01-06   -0.143253
2011-01-07    0.244338
2011-01-08    2.872167
2011-01-09   -0.207105
2011-01-10   -0.655750
2011-01-11    0.162697
2011-01-12   -0.484552
2011-01-13    0.172954
2011-01-14   -0.320164
2011-01-15    0.352940
2011-01-16   -0.578058
2011-01-17   -0.189386
2011-01-18   -0.713713
2011-01-19   -0.537609
2011-01-20    1.094267
2011-01-21   -0.260531
2011-01-22    0.733535
2011-01-23    0.913537
2011-01-24    0.291068
2011-01-25   -0.989910
2011-01-26   -1.300731
2011-01-27   -0.240728
2011-01-28   -1.086868
2011-01-29   -0.263852
2011-01-30   -0.044876
                ...
2013-12-02   -0.575638
2013-12-03    0.729446
2013-12-04   -0.476362
2013-12-05    0.482958
2013-12-06    0.594805
2013-12-07   -2.247052
2013-12-08    0.466783
2013-12-09   -0.302955
2013-12-10   -0.493725
2013-12-11   -0.532472
2013-12-12    2.159312
2013-12-13   -0.073023
2013-12-14    0.399698
2013-12-15    1.024235
2013-12-16   -1.058098
2013-12-17    0.117082
2013-12-18    1.094412
2013-12-19    0.402830
2013-12-20   -1.005786
2013-12-21    1.289902
2013-12-22    0.913100
2013-12-23   -0.631016
2013-12-24    0.454170
2013-12-25   -0.887553
2013-12-26   -0.731059
2013-12-27    0.081148
2013-12-28   -1.030871
2013-12-29   -0.049820
2013-12-30   -1.304104
2013-12-31    0.630897
Freq: D, Length: 1096, dtype: float64

In [128]:
type(ps)

pandas.core.series.Series

In [132]:
pst=ps.to_timestamp()

In [133]:
pst.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
               '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
               '2016-12-31', '2017-01-01'],
              dtype='datetime64[ns]', length=2193, freq='D')

기존에 ps는 periodindex을 이용한 dataframe이고, ps.to_timestamp()를 이용해 만든 pst는 pst.index를 했을때 DatetimeIndex다

반대로 pst.to_period()이용시 datetimeindex에서 periodindex가 된다

In [134]:
ps.index

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10',
             ...
             '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
             '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
             '2016-12-31', '2017-01-01'],
            dtype='period[D]', length=2193, freq='D')

In [135]:
pst=ps.to_timestamp()

In [136]:
type(pst)

pandas.core.series.Series

In [137]:
pst.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
               '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
               '2016-12-31', '2017-01-01'],
              dtype='datetime64[ns]', length=2193, freq='D')

In [82]:
ps['2011':'2013']

2011Q4   -0.122470
2012Q1    0.538284
2012Q2    0.456292
2012Q3   -1.074901
2012Q4   -1.292697
2013Q1   -0.280645
2013Q2   -0.276776
2013Q3   -0.220628
2013Q4    0.025801
2014Q1    1.153677
2014Q2   -0.251402
2014Q3    0.011232
2014Q4   -0.844911
Freq: Q-JAN, dtype: float64

In [107]:
type(ps)

pandas.core.series.Series

In [108]:
pst=ps.to_timestamp()

In [138]:
ps1=pst.to_period()

In [139]:
ps1.index

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10',
             ...
             '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
             '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
             '2016-12-31', '2017-01-01'],
            dtype='period[D]', length=2193, freq='D')

## Processing Wal Mart's Financials

In [222]:
import numpy as np

In [223]:
import pandas as pd
df=pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [224]:
df.set_index('Line Item', inplace=True)

In [225]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [226]:
df=df.T #transpose

In [227]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [228]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [229]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

이 object형태인 index를 period index로 변형해야

In [230]:
df.index=pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [231]:
dff=pd.Series(np.random.rand(len(df.index)),df.index)

In [232]:
dff

2017Q1    0.697775
2017Q2    0.771997
2017Q3    0.080273
2017Q4    0.216443
2018Q1    0.113423
Freq: Q-JAN, dtype: float64

In dataframe, whenever you want to create a new column, you will just express how that column assign to something

quick way to define a function inline is to use lambda

df['start date'] =df.index.map(func)

2017Q1이라는 period(element)를 받아서 각 element의 starttime을 반환할 것을 가져옴

In [240]:
df['start date'] = df.index.map(lambda x: x.start_time)

In [241]:
df

Line Item  Revenue  Expenses  Profit start date   end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30

In [242]:
df['end date']=df.index.map(lambda x: x.end_time)

In [243]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [244]:
df.index[0]

Period('2017Q1', 'Q-JAN')

In [245]:
df.index[0].end_time

Timestamp('2016-04-30 23:59:59.999999999')