<h1 style="color:blue" align="center">Timespan Period Period Index</h1>

In [43]:
import pandas as pd

In [45]:
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

all the properties of this period

In [47]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [48]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [49]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [50]:
m=pd.Period('2011-1',freq='M')

In [51]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [52]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

good thing about period objects are you can perform arithmatic expression

In [55]:
d=pd.Period('2017-02-28',freq='D')
d

Period('2017-02-28', 'D')

In [56]:
d+1

Period('2017-03-01', 'D')

In [69]:
h=pd.Period('2016-02-28 23:00:00',freq='H')

In [61]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [62]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [63]:
h+1

Period('2016-02-29 00:00', 'H')

In [64]:
h+pd.offsets.Hour(1)

Period('2016-02-29 00:00', 'H')

In [65]:
h-6

Period('2016-02-28 17:00', 'H')

In [66]:
pd.offsets.Hour(5)

In [72]:
h=pd.Period('2017/01/01 1:00:00',freq='H')

In [73]:
h+3

Period('2017-01-01 04:00', 'H')

In [74]:
h-6

Period('2016-12-31 19:00', 'H')

In [75]:
h+pd.offsets.Hour(3)

Period('2017-01-01 04:00', 'H')

In [84]:
q=pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [85]:
q+1

Period('2017Q2', 'Q-DEC')

fiscal year에 대한 고려

In [86]:
q=pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [87]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [88]:
q.asfreq('M')

Period('2016-04', 'M')

In [89]:
q.asfreq('M',how='start')

Period('2016-02', 'M')

In [90]:
q.asfreq('M',how='end')

Period('2016-04', 'M')

In [110]:
q.asfreq('d')

Period('2016-04-30', 'D')

In [111]:
q.asfreq('y')

Period('2016', 'A-DEC')

In [114]:
q.asfreq('h')

Period('2016-04-30 23:00', 'H')

In [92]:
q2=pd.Period('2018Q2',freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [95]:
q2-q

5

In [94]:
type(q2-q)

int

period index

기본적으로 fiscal year을 기준으로 하므로 end_time에서 시작한다

In [97]:
idx=pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [98]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [99]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [101]:
import numpy as np

In [103]:
ps=pd.Series(np.random.randn(len(idx)),idx)

In [104]:
ps

2011Q1    1.081123
2011Q2    0.457060
2011Q3   -0.111544
2011Q4    0.894105
2012Q1    1.044598
2012Q2    0.177188
2012Q3    1.038743
2012Q4   -0.332860
2013Q1   -1.927151
2013Q2    0.527120
2013Q3    1.261242
2013Q4   -0.420959
2014Q1    1.730222
2014Q2    0.854447
2014Q3   -2.468276
2014Q4    0.716329
2015Q1   -0.205713
2015Q2    0.408418
2015Q3   -0.185833
2015Q4    0.206159
2016Q1   -0.102039
2016Q2   -1.730070
2016Q3   -0.863638
2016Q4   -0.779528
2017Q1    1.316916
Freq: Q-DEC, dtype: float64

period index의 장점: you can do partial operation

In [107]:
ps['2011':'2013']

2011Q1    1.081123
2011Q2    0.457060
2011Q3   -0.111544
2011Q4    0.894105
2012Q1    1.044598
2012Q2    0.177188
2012Q3    1.038743
2012Q4   -0.332860
2013Q1   -1.927151
2013Q2    0.527120
2013Q3    1.261242
2013Q4   -0.420959
Freq: Q-DEC, dtype: float64

In [108]:
q2=pd.Period('2018Q2',freq='Q-Jan')
q2

Period('2018Q2', 'Q-JAN')

In [109]:
q2-q

5