In [4]:
import pandas as pd
df=pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [5]:
pd.date_range(start="7/1/2017",end="7/21/2017",freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [7]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [9]:
pd.date_range(start="7/1/2017",end="7/21/2017",freq=usb)

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [10]:
rng=pd.date_range(start="7/1/2017",end="7/21/2017",freq=usb)

In [12]:
df.set_index(rng, inplace=True)

In [13]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

In [16]:
class myBirthDayCalendar(AbstractHolidayCalendar):
    rules=[
        Holiday('Angie"s Birth day', month=4, day=5)
    ]
myc = CustomBusinessDay(calendar= myBirthDayCalendar())
myc

OWN CUSTOM HOLIDAY

In [17]:
pd.date_range(start='4/1/2017',end='4/30/2017',freq=myc)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-06', '2017-04-07',
               '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13',
               '2017-04-14', '2017-04-17', '2017-04-18', '2017-04-19',
               '2017-04-20', '2017-04-21', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [21]:
b.type

AttributeError: 'CustomBusinessDay' object has no attribute 'type'

In [19]:
b=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
pd.date_range(start="4/1/2017", end="7/29/2017",freq=b)

DatetimeIndex(['2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
               '2017-04-06', '2017-04-09', '2017-04-10', '2017-04-11',
               '2017-04-12', '2017-04-13', '2017-04-16', '2017-04-17',
               '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-23',
               '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
               '2017-04-30', '2017-05-01', '2017-05-02', '2017-05-03',
               '2017-05-04', '2017-05-07', '2017-05-08', '2017-05-09',
               '2017-05-10', '2017-05-11', '2017-05-14', '2017-05-15',
               '2017-05-16', '2017-05-17', '2017-05-18', '2017-05-21',
               '2017-05-22', '2017-05-23', '2017-05-24', '2017-05-25',
               '2017-05-28', '2017-05-29', '2017-05-30', '2017-05-31',
               '2017-06-01', '2017-06-04', '2017-06-05', '2017-06-06',
               '2017-06-07', '2017-06-08', '2017-06-11', '2017-06-12',
               '2017-06-13', '2017-06-14', '2017-06-15', '2017-06-18',
               '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22',
               '2017-06-25', '2017-06-26', '2017-06-27', '2017-06-28',
               '2017-06-29', '2017-07-02', '2017-07-03', '2017-07-04',
               '2017-07-05', '2017-07-06', '2017-07-09', '2017-07-10',
               '2017-07-11', '2017-07-12', '2017-07-13', '2017-07-16',
               '2017-07-17', '2017-07-18', '2017-07-19', '2017-07-20',
               '2017-07-23', '2017-07-24', '2017-07-25', '2017-07-26',
               '2017-07-27'],
              dtype='datetime64[ns]', freq='C')

In [20]:
b=CustomBusinessDay(weekmask='Sun Mon')
pd.date_range(start="4/1/2017", end="7/29/2017",freq=b)

DatetimeIndex(['2017-04-02', '2017-04-03', '2017-04-09', '2017-04-10',
               '2017-04-16', '2017-04-17', '2017-04-23', '2017-04-24',
               '2017-04-30', '2017-05-01', '2017-05-07', '2017-05-08',
               '2017-05-14', '2017-05-15', '2017-05-21', '2017-05-22',
               '2017-05-28', '2017-05-29', '2017-06-04', '2017-06-05',
               '2017-06-11', '2017-06-12', '2017-06-18', '2017-06-19',
               '2017-06-25', '2017-06-26', '2017-07-02', '2017-07-03',
               '2017-07-09', '2017-07-10', '2017-07-16', '2017-07-17',
               '2017-07-23', '2017-07-24'],
              dtype='datetime64[ns]', freq='C')

In [23]:
b=CustomBusinessDay(weekmask='Sun Mon Tue', holidays=["2017-07-04"])
pd.date_range(start="7/1/2017", end="7/29/2017",freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-09', '2017-07-10',
               '2017-07-11', '2017-07-16', '2017-07-17', '2017-07-18',
               '2017-07-23', '2017-07-24', '2017-07-25'],
              dtype='datetime64[ns]', freq='C')

In [35]:
egypt_b=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=['2017-07-04'])

weekmask를 이용해 주기적인 요일들을 걸러낼수 있고, holidays=을 이용해 특수한 날을 list로 받아서 따로 뺄수 있다.

In [36]:
pd.date_range(start='2017/07/01', periods= 30,freq=egypt_b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-16', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-23', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-30',
               '2017-07-31', '2017-08-01', '2017-08-02', '2017-08-03',
               '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-13'],
              dtype='datetime64[ns]', freq='C')